<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data_Rendering</title>
    <style>
        body{
            background-color: lightblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.4em;
        }
    </style>
</head>
<body>
    <center>
        <h1 style="text-decoration: underline;">Data rendering from TemplateView using get_context_data</h1>
        <h1>{{name}}</h1>
    </center>
</body>
</html>